/* You can add global styles to this file, and also import other style files */
.app {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

body {
  margin: 0;
}

.w-full {
  width: 100vw;
}

/*.ant-tabs-tab {*/
/*  color: #006363 !important;*/
/*}*/

.ant-tabs-tab-active {
  color: #006363 !important;
}
